.container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 65%;
    height: fit-content;
    display: flexbox;
    background-color: rgb(207, 178, 142);
}

.noticia {
    padding-bottom: 5px;
    border-top: 1px solid rgb(87, 51, 44);
    border-radius: 0px;
    display: block;
    width: 70%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.textcontainer {
    width: 100%;
    height: fit-content;
    text-align: left;
}

.imgcontainer {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    display: block;
    margin-right: auto;
}

img {
    width: 100%;
    height: 100%;
}

p {
    text-align: justify;
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 1px;
}

h2 {
    margin-left: 5%;
}

h3 {
    font-size: 20px;
    margin-bottom: 1%;
}

p,
h2,
h3 {
    color: rgb(87, 51, 44);
}